logs
*.log
npm-debug.log*
lerna-debug.log*

node_modules
*.tsbuildinfo

.npm
.eslintcache
*.tgz
*.env

dist
packages/front/public/main.js
packages/front/public/sw.js
packages/front/public/index.html
packages/front/public/vendors.js
packages/front/public/tinymceimgs

docker-img*
